<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.dao.ApproveMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.pojo.Approve">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account_id" jdbcType="BIGINT" property="commdityId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="real_number" jdbcType="VARCHAR" property="realNumber" />
    <result column="site" jdbcType="VARCHAR" property="site" />
    <result column="phone_number" jdbcType="BIGINT" property="phoneNumber" />
    <result column="approve_date" jdbcType="TIMESTAMP" property="approveDate" />
  </resultMap>
</mapper>