<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.dao.CommodityMapper">
    <sql id="LessColumn">
        SELECT
          commodity.commodity_id commodityId,
          temp.name,
          commodity.round_time                                      AS roundTime,
          temp.genre,
          IFNULL(type.name,'未知类型')                                                AS typeName,
          IFNULL(state.name, '未知状态')                        AS stateName,
          temp.ground_time                                     AS groundTime,
          commodity.undercarriage_time                              AS undercarriageTime,
          commodity.view_num                                        AS viewNum,
          temp.buy_total_number                                AS buyTotalNumber,
          commodity.buy_current_number                              AS buyCurrentNumber,
          temp.buy_total_number - commodity.buy_current_number AS buyNowNumber
        FROM draw_lottery.t_commoditys AS commodity
        LEFT JOIN draw_lottery.t_commodity_template as temp on commodity.temp_id = temp.id
          LEFT JOIN draw_lottery.t_commodity_type AS type ON temp.commodity_type_id = type.id
          LEFT JOIN draw_lottery.t_commodity_states AS state ON commodity.state_id = state.id
    </sql>
    <insert id="insertCommodity" useGeneratedKeys="true" keyProperty="commodityId"
            parameterType="com.hudongwx.drawlottery.pojo.Commodity">
        insert into t_commoditys (buy_current_number,round_time,view_num,temp_id,state_id) VALUES
        (#{buyCurrentNumber},#{roundTime},#{viewNum},#{tempId},#{stateId})
    </insert>
    <update id="updateState">
        update draw_lottery.t_commoditys SET state_id = #{state},
        <if test="groundTime != null">
            ground_time = #{groundTime},
        </if>
        undercarriage_time = #{underTime}
        where id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>
    <delete id="batchDelete">
        delete from draw_lottery.t_commoditys where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <select id="selectCommodities" resultType="com.hudongwx.drawlottery.pojo.Commodity">
        <include refid="LessColumn"/>
        <where>
            <if test="key != null and key.length() > 0">
                <bind name="pattern" value="'%' + key + '%'"/>
                temp.name like #{pattern}
            </if>
            <if test="genre != null and genre.size() > 0">
                and temp.genre in
                <foreach collection="genre" open="(" close=")" separator="," item="genre">
                    #{genre}
                </foreach>
            </if>
            <if test="type != null and type.size() > 0">
                and temp.commodity_type_id in
                <foreach collection="type" open="(" separator="," close=")" item="type">
                    #{type}
                </foreach>
            </if>
            <if test="state != null and state.size() > 0">
                and temp.state_id in
                <foreach collection="state" open="(" separator="," close=")" item="state">
                    #{state}
                </foreach>
            </if>
            <if test="groundTimeFront != null and groundTimeAfter != null">
                and temp.ground_time &gt; #{groundTimeFront}
                and temp.ground_time &lt; #{groundTimeAfter}
            </if>
            <if test="undercarriageTimeFront!= null and undercarriageTimeAfter != null">
                and temp.undercarriage_date &gt; #{undercarriageTimeFront}
                and temp.undercarriage_date &lt; #{undercarriageTimeAfter}
            </if>
            and temp.valid = #{valid}
        </where>
        order BY
        <choose>
            <when test="order == 1">
                temp.ground_time
            </when>
            <when test="order == 2">
                temp.undercarriage_date
            </when>
            <when test="order == 3">
                temp.buy_total_number
            </when>
            <when test="order == 4">
                commodity.buy_current_number
            </when>
            <when test="order == 5">
                buyNowNumber
            </when>
            <when test="order == 6">
                view_num
            </when>
            <otherwise>
                commodity.commodity_id
            </otherwise>
        </choose>
        <choose>
            <when test="direction == 0">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
    </select>
    <select id="selectNames" resultType="java.lang.String">
        <bind name="pattern" value="'%' + name + '%'"/>
        select DISTINCT name from t_commoditys where name like #{pattern} LIMIT 0,10
    </select>
    <select id="selectMaxRoundTime" resultType="java.lang.Long">
select IFNULL(max(round_time * 1),100000000) from t_commoditys
    </select>
    <select id="checkState" resultType="java.lang.Integer">
        select count(*) from t_commoditys WHERE t_commoditys.state_id = #{state} and id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>