<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.dao.ConnectFilePathMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.pojo.ConnectFilePath">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>
    <select id="getPath" resultType="java.lang.String">
    select path from t_file_path where file_name=#{fileName}
  </select>
</mapper>