<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.dao.LuckCodesMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.pojo.LuckCodes">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="lock_code" jdbcType="INTEGER" property="luckCodeTemplateId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
    </resultMap>
    <insert id="insertAuto" parameterType="com.hudongwx.drawlottery.pojo.LuckCodes" useGeneratedKeys="true"
            keyProperty="id">
      insert into t_luck_codes (luck_code_template_id,commodity_id) values (#{luckCodeTemplateId},#{commodityId})
    </insert>
    <insert id="insertCodeList">
        insert into draw_lottery.t_luck_codes (luck_code_template_id,commodity_id) VALUES
        <foreach collection="list" item="code" separator=",">
            (#{code.luckCodeTemplateId},#{code.commodityId})
        </foreach>
    </insert>
</mapper>