<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.dao.LuckCodeTemplateMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.pojo.LuckCodeTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="luck_code" jdbcType="VARCHAR" property="luckCode"/>
    </resultMap>
    <select id="getCount" resultType="java.lang.Long">
    SELECT count(*) from t_luck_code_template
  </select>
</mapper>