<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hudongwx.drawlottery.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.pojo.Role">
        <id column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
</mapper>