<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.CommodityMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.Commodity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="commodity_id" jdbcType="BIGINT" property="id"/>
        <result column="buy_current_number" jdbcType="INTEGER" property="buyCurrentNumber"/>
        <result column="state_id" jdbcType="INTEGER" property="stateId"/>
        <result column="round_time" jdbcType="VARCHAR" property="roundTime"/>
        <result column="sell_out_time" jdbcType="BIGINT" property="sellOutTime"/>
        <result column="undercarriage_time" jdbcType="BIGINT" property="undercarriageTime"/>
        <result column="temp_id" jdbcType="BIGINT" property="tempId"/>
        <result column="view_num" jdbcType="BIGINT" property="viewNum"/>
        <result column="share_state" jdbcType="INTEGER" property="shareState"/>
        <result column="exchange_state" jdbcType="INTEGER" property="exchangeState"/>
        <result column="exchange_way" jdbcType="INTEGER" property="exchangeWay"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="card_not_enough" jdbcType="INTEGER" property="cardNotEnough"/>
        <result column="buy_number" jdbcType="INTEGER" property="buyNumber"/>

    </resultMap>
    <delete id="deleteCommInfoByCommId">
        DELETE t_commoditys WHERE WHERE commodity_id = #{commId};
    </delete>

    <!-- 通过商品ID查询模板ID -->
    <select id="selectTempIdByCommId" resultType="java.lang.Long">
        SELECT temp_id FROM t_commoditys WHERE commodity_id = #{commId}
    </select>

    <!--  写入下一期商品，返回主键ID -->
    <insert id="insertUseGenerated" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hudongwx.drawlottery.mobile.entitys.Commodity">
        INSERT into
              t_commoditys(
                  buy_current_number,round_time,sell_out_time,
                  view_num,temp_id,state_id,undercarriage_time,
                  share_state,exchange_state,exchange_way,end_time,
                  card_not_enough,buy_number
              )
        VALUES (
            #{buyCurrentNumber},#{roundTime},#{sellOutTime},
            #{viewNum},#{tempId},#{stateId},
            #{undercarriageTime},#{shareState},#{exchangeState},
            #{exchangeWay},#{endTime},#{cardNotEnough},#{buyNumber}
        )
    </insert>

    <!-- 将已开奖的商品拷贝到历史表 -->
    <insert id="insertHistory">
        INSERT INTO t_commodity_history SELECT * FROM t_commoditys WHERE state_id = 1
    </insert>


    <!--  更新商品数据（字段非空处理） -->
    <update id="updateById" parameterType="com.hudongwx.drawlottery.mobile.entitys.Commodity">
        UPDATE t_commoditys
        <trim prefix="set" suffixOverrides=",">
            <if test="buyCurrentNumber != null">buy_current_number = #{buyCurrentNumber},</if>
            <if test="roundTime != null">round_time = #{roundTime},</if>
            <if test="sellOutTime !=null">sell_out_time = #{sellOutTime},</if>
            <if test="viewNum !=null">view_num = #{viewNum},</if>
            <if test="tempId !=null">temp_id = #{tempId},</if>
            <if test="stateId !=null">state_id = #{stateId},</if>
            <if test="undercarriageTime != null">undercarriage_time =#{undercarriageTime},</if>
            <if test="shareState != null">share_state = #{shareState},</if>
            <if test="exchangeState != null">exchange_state = #{exchangeState},</if>
            <if test="exchangeWay != null">exchange_way = #{exchangeWay},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="cardNotEnough != null">card_not_enough =#{cardNotEnough},</if>
            <if test="buyNumber != null">buy_number = #{buyNumber}</if>
        </trim>
        WHERE commodity_id = #{id}
    </update>
    <update id="updateShareStateByCommodityId">
        UPDATE t_commoditys set share_state =#{shareState} where commodity_id =#{commodityId}
    </update>
    <update id="updateState">
        UPDATE draw_lottery.t_commoditys
            SET state_id = #{state}
            WHERE commodity_id = #{id}

    </update>
    <update id="updateViewNum">
        UPDATE t_commoditys SET view_num = #{viewNum} where commodity_id = #{commId}
    </update>
    <update id="updateBuyCurrentNum">
        update draw_lottery.t_commoditys SET buy_current_number = #{buyCurrentNumber} where commodity_id = #{id}
    </update>

    <!-- 查看往期揭晓数据 -->
    <select id="selectBefore" resultType="java.lang.Long">
        SELECT commodity_id from t_commodity_history where temp_id=#{tempId} and commodity_id &lt; #{commodityId}
        UNION
        SELECT commodity_id from t_commoditys where temp_id=#{tempId} and commodity_id &lt; #{commodityId} order by commodity_id desc
    </select>

    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT * FROM t_commoditys WHERE commodity_id = #{commodityId}
        UNION
        SELECT * FROM t_commodity_history WHERE commodity_id = #{commodityId}
    </select>


    <!-- 查询商品上期开奖信息-->
    <select id="selectByTempIdOrderRoundTime" resultMap="BaseResultMap">
        SELECT * from t_commodity_history where temp_id=#{tempId} and round_time &lt; #{roundTime}
        UNION
        SELECT * from t_commoditys where temp_id=#{tempId} and round_time &lt; #{roundTime} ORDER BY commodity_id limit
        1
        <!-- &lt; 小于     &jt; 大于 -->
    </select>

    <!-- 查询中奖历史-->
    <select id="selectHistoryLottery" resultMap="BaseResultMap">
        SELECT * from t_commodity_history where luck_user_account_id = #{accountId}
        UNION
        SELECT * from t_commoditys where luck_user_account_id = #{accountId}
    </select>


    <select id="selectComIdAndUser" resultMap="BaseResultMap">
        SELECT * from t_commodity_history where commodity_id = #{commodityId} AND luck_user_account_id = #{accountId}
        UNION
        SELECT * from t_commoditys where commodity_id = #{commodityId} AND luck_user_account_id = #{accountId}
    </select>


    <select id="selectByTempId" resultMap="BaseResultMap">
        SELECT * from t_commodity_history WHERE temp_id = #{tempId}
        UNION
        SELECT * from t_commoditys WHERE temp_id = #{tempId}
    </select>


    <!--<update id="updateShareStateByCommodityId" parameterMap="tempId" statementType="CALLABLE">-->
    <!--CALL update_commodity_share_state(?)-->
    <!--</update>-->
    <!---->
    <!--<parameterMap id="tempId" type="long">-->
    <!--<parameter property="id" mode="IN" jdbcType="BIGINT"/>-->
    <!--</parameterMap>-->


    <!--查询往期中奖信息-->
    <resultMap id="PastLotteryMap" type="map"></resultMap>

    <select id="selectPastLottery" resultMap="PastLotteryMap">
        SELECT tli.lottery_id,tu.header_url,tu.nickname,tu.account_id,vc.commodity_id,temp_id,buy_num,user_account_id,end_date,round_time
        from
            t_lottery_info tli,
            v_commoditys vc,
            t_users tu
        where
            tli.commodity_id = vc.commodity_id and
            tu.account_id=tli.user_account_id
            and
            tli.commodity_id &lt; #{commodityId}
            and
            temp_id= (select temp_id from t_commoditys where commodity_id=#{commodityId} limit 1)
        order by vc.commodity_id desc limit 10
    </select>
    <select id="selectUnLotteryComm" resultMap="BaseResultMap">
        SELECT * FROM t_commoditys WHERE state_id = 2 OR state_id = 3
    </select>
    <select id="selectCommIdByTempId" resultType="java.lang.Long">
        SELECT commodity_id FROM t_commoditys
        WHERE temp_id = #{tempId}
        <if test="lastCommId !=null and lastCommId != 0">
            commodity_id &lt; #{lastCommId}
        </if>
        UNION
        SELECT commodity_id FROM t_commodity_history
        WHERE temp_id = #{tempId}
        <if test="lastCommId !=null and lastCommId != 0">
            commodity_id &lt; #{lastCommId}
        </if>
        order by commodity_id desc limit #{pageLoadSize}
    </select>
    <select id="selectMaxRoundTime" resultType="java.lang.Long">
        select IFNULL(max(round_time * 1),100000000) from t_commoditys
    </select>
    <select id="selectNext" resultMap="BaseResultMap">
        SELECT * from draw_lottery.t_commoditys where state_id = 4 AND
                                              temp_id = (SELECT temp_id from t_commoditys where commodity_id = #{id})
                                               ORDER BY commodity_id ASC limit 1
    </select>


</mapper>