<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.CommodityMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.Commodity">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="buy_current_number" jdbcType="INTEGER" property="buyCurrentNumber"/>
        <result column="luck_code_id" jdbcType="BIGINT" property="luckCodeId"/>
        <result column="state_id" jdbcType="INTEGER" property="stateId"/>
        <result column="round_time" jdbcType="VARCHAR" property="roundTime"/>
        <result column="buy_last_number" jdbcType="INTEGER" property="buyLastNumber"/>
        <result column="sell_out_time" jdbcType="BIGINT" property="sellOutTime"/>
        <result column="undercarriage_time" jdbcType="BIGINT" property="undercarriageTime"/>
        <result column="temp_id" jdbcType="BIGINT" property="tempId"/>
        <result column="view_num" jdbcType="BIGINT" property="viewNum"/>
        <result column="last_round_time" jdbcType="VARCHAR" property="lastRoundTime"/>
    </resultMap>

    <select id="selectTempIdByCommId" resultType="java.lang.Long">
        SELECT temp_id FROM t_commoditys WHERE id = #{commId}
    </select>

    <insert id="insertUseGenerated" useGeneratedKeys="true" keyProperty="id" parameterType="com.hudongwx.drawlottery.mobile.entitys.Commodity">
        INSERT into
        t_commoditys(buy_last_number,buy_current_number,luck_code_id,round_time,sell_out_time,
        view_num,temp_id,state_id,last_round_time,undercarriage_time)
        VALUES (#{buyLastNumber},#{buyCurrentNumber},#{luckCodeId},
        #{roundTime},#{sellOutTime},#{viewNum},#{tempId},#{stateId},
        #{lastRoundTime},#{undercarriageTime})
    </insert>

</mapper>