<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.CommoditysMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.Commoditys">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="commodity_desc" jdbcType="VARCHAR" property="commodityDesc" />
    <result column="commodity_type_id" jdbcType="BIGINT" property="commodityTypeId" />
    <result column="genre" jdbcType="INTEGER" property="genre" />
    <result column="buy_current_number" jdbcType="INTEGER" property="buy_current_number" />
    <result column="buy_total_number" jdbcType="INTEGER" property="buyTotalNumber" />
    <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
    <result column="luck_code_id" jdbcType="BIGINT" property="luckCodeId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="round_time" jdbcType="VARCHAR" property="roundTime" />
    <result column="cover_img_url" jdbcType="BIGINT" property="coverImgUrl" />
    <result column="auto_round" jdbcType="INTEGER" property="autoRound" />
    <result column="commodity_desc_url" jdbcType="VARCHAR" property="commodityDescUrl" />
    <result column="buy_last_number" jdbcType="INTEGER" property="byLastNumber"/>

  </resultMap>
</mapper>