<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.CommodityHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.CommodityHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="luck_code" jdbcType="VARCHAR" property="luckCode"/>
        <result column="round_time" jdbcType="VARCHAR" property="roundTime"/>
        <result column="buy_number" jdbcType="INTEGER" property="buyNumber"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="luck_user_account_id" jdbcType="BIGINT" property="luckUserAccountId"/>
        <result column="cover_img_url" jdbcType="VARCHAR" property="coverImgUrl"/>
        <result column="genre" jdbcType="INTEGER" property="genre"/>
        <result column="exchange_state" jdbcType="INTEGER" property="exchangeState"/>
        <result column="buy_total_number" jdbcType="INTEGER" property="buyTotalNumber"/>
        <result column="exchange_way" jdbcType="INTEGER" property="exchangeWay"/>
        <result column="temp_id" jdbcType="BIGINT" property="tempId"/>
        <result column="commodity_name" jdbcType="VARCHAR" property="commodityName"/>
        <result column="share_state" jdbcType="INTEGER" property="shareState"/>
    </resultMap>





    <!-- 查询单件历史商品信息-->
    <select id="selectByCommId" resultMap="BaseResultMap">
        select * from t_commodity_history where commodity_id = #{commodityId}
    </select>


    <!-- 查询商品上期开奖信息 -->
    <select id="selectByCommName" resultMap="BaseResultMap">
        select * from t_commodity_history
        <where>
            temp_id = #{tempId}
            and round_time &lt; #{roundTime}
        </where>
        ORDER BY id DESC limit 1
        <!-- &lt; 小于     &jt; 大于 -->
    </select>

<!--
    <select id="selectCommodityBefore" resultType="java.lang.Long">
      SELECT commodity_id from t_commodity_history where temp_id=#{tempId} and round_time &lt; #{roundTime}
      UNION
      SELECT id as commodity_id  from t_commoditys where temp_id=#{tempId} and round_time &lt; #{roundTime}
    </select>-->

    <select id="selectComIdAndUser" resultMap="BaseResultMap">
        SELECT * FROM t_commodity_history
        WHERE commodity_id = #{commodityId} AND luck_user_account_id = #{accountId}
    </select>


    <update id="updateByCommodityIdSelective" parameterType="com.hudongwx.drawlottery.mobile.entitys.CommodityHistory">
        UPDATE t_commodity_history
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="luckCode != null">luck_code = #{luckCode},</if>
            <if test="tempId != null">temp_id = #{tempId},</if>
            <if test="commodityName != null">commodity_name = #{commodityName},</if>
            <if test="roundTime !=null">round_time = #{roundTime},</if>
            <if test="buyNumber !=null">buy_number = #{buyNumber},</if>
            <if test="coverImgUrl !=null">cover_img_url = #{coverImgUrl},</if>
            <if test="endTime !=null">end_time = #{endTime},</if>
            <if test="luckUserAccountId != null">luck_user_account_id =#{luckUserAccountId},</if>
            <if test="buyTotalNumber !=null">buy_total_number = #{buyTotalNumber},</if>
            <if test="exchangeState !=null">exchange_state = #{exchangeState},</if>
            <if test="exchangeWay !=null">exchange_way = #{exchangeWay},</if>
            <if test="shareState !=null">share_state = #{shareState},</if>
        </trim>
        WHERE commodity_id = #{commodityId}
    </update>

    <update id="updateShareStateByCommodityId">
        UPDATE t_commodity_history SET share_state = #{shareState}
        where commodity_id = #{commodityId}
    </update>

    <select id="selectByTempId" resultMap="BaseResultMap">
      SELECT * FROM t_commodity_history WHERE temp_id = #{tempId}
    </select>

    <!--查询已揭晓的商品-->
    <select id="selectAllWithPage" resultMap="BaseResultMap">
        SELECT * FROM t_commodity_history
        WHERE end_time &lt; (SELECT end_time FROM t_commodity_history WHERE commodity_id=#{lastCommId})
        ORDER BY end_time DESC limit #{pageLoadSize}
    </select>
</mapper>