<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.CommodityUserHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.CommodityUserHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_account_id" jdbcType="BIGINT" property="commdityId" />
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
        <result column="partake_date" jdbcType="BIGINT" property="partakeDate"/>

    </resultMap>

    <select id="selectHistoryPay" resultMap="BaseResultMap">
        SELECT * commodity_id FROM t_commodity_user_history
         WHERE user_account_id = #{accountId}
    </select>
</mapper>
