<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.ExpressDeliveryMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.ExpressDelivery">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_account_id" jdbcType="BIGINT" property="userAccountId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="delivery_number" jdbcType="VARCHAR" property="deliveryNumber"/>

    </resultMap>
    <select id="selectByAccountAndCommodity" resultMap="BaseResultMap">
        SELECT * FROM t_express_delivery WHERE user_account_id = #{accountId}
        AND commodity_id = #{commodityId}
    </select>
</mapper>