<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.LotteryInfoMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.LotteryInfo">

        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="lottery_id" jdbcType="BIGINT" property="lotteryId"/>
        <result column="lottery_info" jdbcType="VARCHAR" property="lotteryInfo"/>
        <result column="sum_date" jdbcType="BIGINT" property="sumDate"/>
        <result column="buy_num" jdbcType="INTEGER" property="buyNum"/>
        <result column="user_account_id" jdbcType="BIGINT" property="userAccountId"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
    </resultMap>

    <select id="selectByComId" resultMap="BaseResultMap">
        SELECT * FROM t_lottery_info WHERE commodity_id = #{commodityId}
    </select>
    <select id="selectByUserAccountId" resultMap="BaseResultMap">
        SELECT * FROM t_lottery_info
        WHERE user_account_id = #{accountId}
        <if test="lastCommId !=null and lastCommId !=0">
            and commodity_id &lt; #{lastCommId}
        </if>
        order by commodity_id desc limit #{pageLoadSize}
    </select>
</mapper>