<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.LuckCodeTemplateMapper">

    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.LuckCodeTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="luck_code" jdbcType="VARCHAR" property="luckCode"/>

    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
      SELECT * FROM t_luck_code_template WHERE id = #{lctId}
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT * FROM t_luck_code_template WHERE luck_code = #{code}
    </select>
</mapper>