<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.NoctionMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.Noction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="noction_date" jdbcType="TIMESTAMP" property="noctionDate" />
    <result column="noction_title" jdbcType="VARCHAR" property="noctionTitle" />
    <result column="noction_particulars" jdbcType="VARCHAR" property="noctionParticulars" />
  </resultMap>
</mapper>