<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.NotificationPrizeMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.NotificationPrize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account_id" jdbcType="BIGINT" property="accountId" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="luck_codes_id" jdbcType="BIGINT" property="luckCodesId" />
    <result column="on_prize_date" jdbcType="BIGINT" property="onPrizeDate" />
    <result column="luck_account_id" jdbcType="BIGINT" property="luckAccountId"/>
    <result column="state" jdbcType="int" property="state" />

  </resultMap>

  <select id="selectByNew" resultMap="BaseResultMap">
    SELECT * FROM t_notification_prize ORDER BY on_prize_date DESC
  </select>

</mapper>