<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.NotificationPrizeMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.NotificationPrize">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle"/>
        <result column="notice_content" jdbcType="VARCHAR" property="noticeContent"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="luck_codes_id" jdbcType="BIGINT" property="luckCodesId"/>
        <result column="on_prize_date" jdbcType="BIGINT" property="onPrizeDate"/>
        <result column="send_date" jdbcType="BIGINT" property="sendDate"/>
        <result column="luck_account_id" jdbcType="BIGINT" property="luckAccountId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>

    <select id="selectByNewPrizeNotify" resultMap="BaseResultMap">
    SELECT commodity_id,notice_content FROM t_notification_prize ORDER BY on_prize_date DESC limit #{maxInfoSize};
  </select>
    <select id="countUnreadMsg" resultType="INTEGER">
    select count(*) from t_notification_prize where user_account_id = #{UserId} and state = 0
  </select>
    <select id="selectLimitTen" resultMap="BaseResultMap">
        select * from t_notification_prize where user_account_id = #{UserId}
        <if test="msgId !=null">and id &lt; #{msgId}</if>
        ORDER BY id DESC limit 10
    </select>
    <select id="selectIdByCommId" resultType="java.lang.Long">
        SELECT id FROM t_notification_prize WHERE  commodity_id = #{commId}
    </select>
    <update id="updateStateById">
    update t_notification_prize set state = 1 where id= #{Id}
  </update>

    <update id="updateNotificationPrize" parameterType="com.hudongwx.drawlottery.mobile.entitys.NotificationPrize">
        update t_notification_prize
        <trim prefix="set" suffixOverrides=",">
            <if test="user_account_id != null">user_account_id = #{np.accountId},</if>
            <if test="notice_title != null">notice_title = #{np.noticeTitle},</if>
            <if test="notice_content !=null">notice_content = #{np.noticeContent},</if>
            <if test="commodity_id !=null">commodity_id = #{np.commodityId},</if>
            <if test="luck_codes_id !=null">luck_codes_id = #{np.luckCodesId},</if>
            <if test="on_prize_date !=null">on_prize_date = #{np.onPrizeDate},</if>
            <if test="send_date != null">send_date =#{np.sendDate},</if>
            <if test="luck_account_id != null">luck_account_id = #{np.luckAccountId},</if>
            <if test="state != null">state = #{np.state},</if>
        </trim>
        where id= #{Id}
    </update>

    <insert id="insertNotificationPrize" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hudongwx.drawlottery.mobile.entitys.NotificationPrize">
        INSERT into
        t_notification_prize(
        user_account_id,notice_title,notice_content,
        commodity_id,luck_codes_id,on_prize_date,send_date,
        luck_account_id,state
        )
        VALUES (
        #{accountId},#{noticeTitle},#{noticeContent},
        #{commodityId},#{luckCodesId},#{onPrizeDate},
        #{sendDate},#{luckAccountId},#{state}
        )
    </insert>

</mapper>