<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.OrdersCommoditysMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.OrdersCommoditys">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="orders_id" jdbcType="BIGINT" property="ordersId"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>

    </resultMap>
    <select id="selectCommIdByOrderId" resultType="java.lang.Long">
        SELECT DISTINCT commodity_id FROM t_orders_commoditys WHERE orders_id = #{orderId}
    </select>
    <select id="countUserCommAmount" resultType="java.lang.Integer">
        SELECT SUM(amount) FROM t_orders_commoditys
        WHERE orders_id IN
        <foreach collection="orderIdList" open="(" separator="," close=")" item="orderId">
            #{orderId}
        </foreach>
        AND commodity_id=#{commId};
    </select>
    <select id="selectAmountOrders" resultType="com.hudongwx.drawlottery.mobile.entitys.CommodityAmount">
        select commodity_id commodityId,amount from draw_lottery.t_orders_commoditys
        where orders_id = #{orderId}
    </select>
</mapper>