<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.PayModeMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.PayMode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_mode_1" jdbcType="TINYINT" property="payMode1" />
    <result column="pay_mode_2" jdbcType="TINYINT" property="payMode2" />
    <result column="pay_mode_3" jdbcType="TINYINT" property="payMode3" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.PayMode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_mode_1" jdbcType="INTEGER" property="payMode1" />
    <result column="pay_mode_2" jdbcType="INTEGER" property="payMode2" />
    <result column="pay_mode_3" jdbcType="INTEGER" property="payMode3" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>