<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.RedPacketsMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.RedPackets">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_account_id" jdbcType="BIGINT" property="userAccountId"/>
        <result column="valid_date" jdbcType="BIGINT" property="validDate"/>
        <result column="overdue_date" jdbcType="BIGINT" property="overdueDate"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="use_price" jdbcType="INTEGER" property="usePrice"/>
        <result column="worth" jdbcType="INTEGER" property="worth"/>
        <result column="use_state" jdbcType="INTEGER" property="useState"/>
    </resultMap>

    <select id="selectByAccount" resultMap="BaseResultMap">
    SELECT * FROM t_red_packets WHERE user_account_id = #{accountId}
  </select>

    <select id="selectByState" resultMap="BaseResultMap">
    SELECT * FROM t_red_packets WHERE user_account_id = #{accountId}
    And use_state = #{state}
  </select>
    <select id="selectUserUsableRedPackets" resultMap="BaseResultMap">
    SELECT * FROM t_red_packets WHERE user_account_id = #{accountId}
    And use_state = 0
    and overdue_date &gt; #{nowTime}
  </select>
</mapper>