<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.ShareMapper">
  <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.Share">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account_id" jdbcType="BIGINT" property="userAccountId" />
    <result column="issue_date" jdbcType="BIGINT" property="issueDate" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="particulars" jdbcType="VARCHAR" property="particulars" />
    <result column="state" jdbcType="INTEGER" property="state"/>
  </resultMap>

  <select id="selectByUserAccountId" resultMap="BaseResultMap">
    select * from t_share where user_account_id = #{accountId}
  </select>

  <select id="selectByCommId" resultMap="BaseResultMap">
    select * from t_share where commodity_id = #{commId}
  </select>

  <select id="selectByIssueDate" resultMap="BaseResultMap">
   select * from t_share where issue_date = #{issueDate}
  </select>
  <insert id="insertByGeneratedKeys"  parameterType="Share" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO t_share(user_account_id,issue_date,commodity_id,particulars)
    values(#{userAccountId},#{issueDate},#{commodityId},#{particulars})
  </insert>
</mapper>