<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.ShareImgMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.ShareImg">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="share_id" jdbcType="BIGINT" property="shareId" />
        <result column="share_img_url" jdbcType="VARCHAR" property="shareImgUrl" />

    </resultMap>
    <select id="selectByShare" resultMap="BaseResultMap">
      SELECT * from draw_lottery.t_share_img WHERE share_id = #{shareId}
    </select>
</mapper>