<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hudongwx.drawlottery.mobile.mappers.UserCodesHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hudongwx.drawlottery.mobile.entitys.UserCodesHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="luck_code_id" jdbcType="BIGINT" property="luckCodeId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="user_account_id" jdbcType="BIGINT" property="userAccountId"/>
        <result column="buy_date" jdbcType="BIGINT" property="buyDate"/>
        <result column="round_time" jdbcType="VARCHAR" property="roundTime"/>
        <result column="address_ip" jdbcType="VARCHAR" property="addressIp"/>
    </resultMap>
    <select id="selectByUserAccountId" resultMap="BaseResultMap">
        SELECT *
        FROM t_user_luck_codes_history
        WHERE commodity_id = #{accountId}
    </select>

    <insert id="insertHistory">

        INSERT INTO draw_lottery.t_user_luck_codes_history
        (luck_code_id,commodity_id,user_account_id,buy_date,address_ip,round_time) VALUES
        <foreach collection="list" separator="," item="userLuck">
            (#{userLuck.luckCodeId},#{userLuck.commodityId},
            #{userLuck.userAccountId},#{userLuck.buyDate},
            #{userLuck.addressIp},#{userLuck.roundTime})
        </foreach>

    </insert>
</mapper>